<app-top-bar></app-top-bar>
<div class="center-table">

  <div>
    <button style="margin-top: 10px;" (click)="onCreateDialog()">Add New Employee</button>
  </div>
  <br>

  <table class="table table-layout">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Designation</th>
        <th scope="col">operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of EmployeeList; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{employee.id}}</td>
        <td class="clickable" (click)="RouteToInteractions(employee)" >{{employee.name}}</td>
        <td>{{employee.password}}</td>
        <td>{{employee.designation}}</td>
        <td>
          <button style="margin-right: 10px;" type="submit" (click)="UpdateEmp(employee)">Update</button>
          <button style="margin-right: 10px;" type="submit" (click)="DeleteEmp(employee.id)">Delete</button>
        </td>      
      </tr>
    </tbody>
  </table>
</div>
