/* You can add global styles to this file, and also import other style files */
.center-table {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;

}

.table-layout {
    border-style: groove;
}

.dialog-button {
    margin-right: 20px;
}

.clickable {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
